.navigation{
  width: auto;
  display: flex;
  align-items: center;
}
.user{
  margin-left: 50px;
}

.Link{
    color: white;
    text-decoration: none;
    margin: 10px;
  }

  .Link.active{
    color: rgb(109, 0, 149);
    text-decoration: none;
    margin: 10px;
  }